
@{
    ViewBag.Title = "Eliminar Reserva";
}


    <main class="container p-4">
        <h2>Eliminar Reserva</h2>

        <aside class="row navbar">
            <div class="col-3">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav navbar-brand"> Menu Reservas </li>
                    <li class="nav-item"> @Html.ActionLink("Agregar", "AgregarReserva", "Reservas", null, new { @class = "nav-link" })</li>
                    <li class="nav-item"> @Html.ActionLink("Consultar", "ConsultarReserva", "Reservas", null, new { @class = "nav-link" })</li>
                    <li class="nav-item"> @Html.ActionLink("Modificar", "ModificarReserva", "Reservas", null, new { @class = "nav-link" }) </li>
                    <li class="nav-item"> @Html.ActionLink("Eliminar", "EliminarReserva", "Reservas", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </aside>
    </main>

