@{
    ViewBag.Title = "Ubicacion y Soporte";
}

<main class="container p-4">
    <img src="~/Assets/images/Oficinas.jpg" class="mb-4 border-success rounded img-fluid"/>
    <h3>Ubicación </h3>
    <p>Nuestras oficinas centrales se ubican en :</p>
    <div class="ml-4">
        <address>
            Costa Rica, San Jose<br />
            Sabana Sur, Contraloría General 100 S<br />
            <abbr title="Phone">Teléfono.:</abbr>
            (506)2555-8080
        </address>

        <address>
            <strong>Soporte:</strong>   <a href="mailto:ayuda@car2go.com">ayuda@car2go.com</a><br />
            <strong>Información:</strong> <a href="mailto:hola@car2go.com">hola@car2go.com</a>
        </address>
    </div>
</main>

