@{
    ViewBag.Title = "Registro Exitoso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container p-4">
    <div class="card text-success border rounded p-4 align-items-center text-center">
        <h1><i class="far fa-check-circle mb-3"> </i>  </h1>
        <h3>Registro exitoso.</h3>

        <h5 class="mt-4">Estimado Usuario</h5>
        <p>
            Gracias por registrarse.
        </p>
        <p>
            Por favor, reingrese a la plataforma <br /> 
            usando el formulario de Login.
        </p>

        <a href="~/Cerrar/Logoff" class="btn btn-outline-success"> <i class="far fa-plus-square"></i> Reingresar... </a>

    </div>
</main>